[user]
	name = Mike Pearce
	email = mike@mikepearce.net
[push]
	default = simple
[alias]
        lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ce %cr)\" --abbrev-commit --date=relative
